:root {
	--background: rgba(0, 0, 0, 0.3);
	--TEAM-COLOR: #A4F0CA;
	--PLAYER-COLOR: #FEFF72;
}

.offscreen, .LOADING {
	display: none;
}

body {
	background-color: gray;
	margin: 0px auto;
	overflow: hidden;
}

@keyframes slideright {
	0% {
		transform: translateX(-1000%);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes slideout {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-1000%);
	}
}

/* Animation Stuff */

.offscreen:nth-child(6) {
	animation-delay: 0.0s !important;
}

.offscreen:nth-child(5) {
	animation-delay: 0.1s !important;
}

.offscreen:nth-child(4) {
	animation-delay: 0.2s !important;
}

.offscreen:nth-child(3) {
	animation-delay: 0.3s !important;
}

.offscreen:nth-child(2) {
	animation-delay: 0.4s !important;
}

.offscreen:nth-child(1) {
	animation-delay: 0.5s !important;
}

.playerDisplay:nth-child(6) {
	animation-delay: 0.1s;
}

.playerDisplay:nth-child(5) {
	animation-delay: 0.2s;
}

.playerDisplay:nth-child(4) {
	animation-delay: 0.3s;
}

.playerDisplay:nth-child(3) {
	animation-delay: 0.4s;
}

.playerDisplay:nth-child(2) {
	animation-delay: 0.5s;
}

.playerDisplay:nth-child(1) {
	animation-delay: 0.6s;
}

.vertical {
	transform: translateY(25%);
}

.slideout {
	animation: slideout 2s !important;
	animation-fill-mode: backwards;
	transform: translateX(-1000%);
}

/* Styling */

.rosterParent {
	display: flex;
	background: transparent;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	justify-content: left;
	align-items: left;
	align-self: left;
	margin-top: 60px;
	margin-left: 150px;
}

.colorOverlay {
	z-index: 1;
	min-height: 100%;
	min-width: inherit;
	overflow: auto;
	background: rgba(0, 0, 0, 0.7);
	/*can be anything, of course*/
}

.teamInformation {
	transition: transform 1s;
	position: absolute;
	left: 150px;
	top: -100px;
	z-index: 10;
	margin-bottom: 10px;
	vertical-align: middle;
	display: flex;
	align-items: center;
	animation: slideright 2s;
	animation-fill-mode: backwards;
}

.logo {
	/* padding-top: 10px; */
	display: block;
	/* position: absolute; */
	transition: transform 1s;
	z-index: 11;
	max-width: 128px;
	max-height: 128px;
	margin-top: 150px;
	margin-left: 10px;
	margin-right: 10px;
}

.topText {
	display: inline;
	color: white;
	font-family: var(--FONT), sans-serif;
	font-size: 5rem;
	align-self: center;
	text-transform: uppercase;
	top: 75px;
	position: relative;
	text-shadow: 2px 2px var(--BORDER);
}

.playerDisplay {
	max-width: 250px;
	max-height: 700px;
	min-width: 250px;
	min-height: 700px;
	display: inline-flex;
	justify-content: left;
	margin-left: 10px;
	margin-right: 10px;
	background: var(--rosterViewBackgroundBoxColor);
	animation: slideright 1s;
	animation-fill-mode: backwards;
}

.blocker {
	max-width: 120px !important;
	min-width: 120px !important;
	background: transparent !important;
	border-left: transparent !important;
	border-right: transparent !important;
}

.heroDisplay {
	display: inline-flex;
	max-width: 250px;
	max-height: 700px;
	min-width: 250px;
	min-height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-self: flex-end;
}

.playerIcon {
	position: absolute;
	top: 450px;
	width: 250px;
	height: 250px;
	background-color: transparent;
}

/* .heroDisplay > .namePlate::before {
	content: "";
	position: absolute;
	display: block;
	height: 70px;
	width: 238px;
	z-index: -1;
	background-color: var(--rosterViewNameplateBackgroundColor);
	border-left: solid var(--PLAYER-COLOR) 6px;
	border-right: solid var(--PLAYER-COLOR) 6px;
	transform: translate(-58px, -16px);
	transition: transform 1s;
} */

.namePlate {
	display: inline-block;
	width: 100%;
	color: white;
	font-family: var(--FONT), sans-serif;
	text-transform: uppercase;
	align-self: flex-end;
	/* white-space: nowrap;*/
	overflow: hidden;
	text-align: center;
	padding-bottom: 4px;
	padding-top: 16px;
	z-index: 10;
	background-color: var(--rosterViewNameplateBackgroundColor);
	border-left: solid var(--PLAYER-COLOR) 6px;
	border-right: solid var(--PLAYER-COLOR) 6px;
}

.teamDisplay>.namePlate {
	position: relative;
	top: -550px;
	border-right: solid var(--TEAM-COLOR) 12px;
	border-left: transparent !important;
	margin-right: 0px;
	margin-left: 16px;
	background-color: var(--rosterViewTeamNameplateBackgroundColor) !important;
}

.rosterName {
	line-height: 1;
	font-size: 2.5rem;
	text-align: left;
	vertical-align: middle;
	color: var(--rosterViewNameplateTextColor);
}

.playerQuote {
	line-height: 1;
	font-size: 1.5rem;
	vertical-align: middle;
	color: var(--rosterViewNameplateQuoteColor);
}

.teamDisplay>.namePlate>.rosterName {
	color: var(--rosterViewTeamNameplateTextColor);
	float: right !important;
	padding-right: 16px;
}

.roleIcon {
	display: block;
	min-width: 35px;
	min-height: 35px;
	max-width: 100%;
	max-height: 35px;
	background-size: 35px 35px;
	margin-bottom: 8px;
}

/* Icons */

.Tank {
	background-image: url(../../../assets/icons/Tank.png);
	background-repeat: no-repeat;
	background-position: center;
}

.DPS {
	background-image: url(../../../assets/icons/DPS.png);
	background-repeat: no-repeat;
	background-position: center;
}

.Support {
	background-image: url(../../../assets/icons/Support.png);
	background-repeat: no-repeat;
	background-position: center;
}

.Flex {
	background-image: url(../../../assets/icons/Flex.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* Hero Specific Classes */

.Reinhardt {
	/* background-position-x: -270px; */
	background-image: url(../../../assets/portraits/Reinhardt.png);
}

.Zarya {
	/* background-position-x: -130px; */
	background-image: url(../../../assets/portraits/Zarya.png);
}

.Genji {
	/* background-position-x: -120px; */
	background-image: url(../../../assets/portraits/Genji.png);
}

.Mercy {
	/* background-position-x: -210px;
    background-position-y: -80px;
    background-size: 900px 800px; */
	background-image: url(../../../assets/portraits/Mercy.png);
}

.Tracer {
	/* background-position-x: 0px; */
	background-image: url(../../../assets/portraits/Tracer.png);
}

.Moira {
	/* background-position-x: -50px; */
	background-image: url(../../../assets/portraits/Moira.png);
}

.DVa {
	/* background-position-x: -150px;
    background-position-y: -80px;
    background-size: 900px 800px; */
	background-image: url(../../../assets/portraits/DVa.png);
}

.Orisa {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Orisa.png);
}

.Roadhog {
	/* background-position-x: -120px; */
	background-image: url(../../../assets/portraits/Roadhog.png);
}

.Sigma {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Sigma.png);
}

.Winston {
	/* background-position-x: -180px; */
	background-image: url(../../../assets/portraits/Winston.png);
}

.Wrecking_Ball {
	/* background-position-x: -230px; */
	background-image: url(../../../assets/portraits/WreckingBall.png);
}

.Ashe {
	/* background-position-x: -130px;
    background-position-y: -180px;
    background-size: 900px 950px; */
	background-image: url(../../../assets/portraits/Ashe.png);
}

.Bastion {
	/* background-position-x: -230px; */
	background-image: url(../../../assets/portraits/Bastion.png);
}

.Doomfist {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Doomfist.png);
}

.Echo {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Echo.png);
}

.Hanzo {
	/* background-position-x: -90px; */
	background-image: url(../../../assets/portraits/Hanzo.png);
}

.Junkrat {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Junkrat.png);
}

.McCree {
	/* background-position-x: -150px;
    background-position-y: 30px; */
	background-image: url(../../../assets/portraits/McCree.png);
}

.Mei {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Mei.png);
}

.Pharah {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Pharah.png);
}

.Reaper {
	/* No changes needed */
	background-image: url(../../../assets/portraits/Reaper.png);
}

.Soldier_76 {
	/* background-position-x: -10px; */
	background-image: url(../../../assets/portraits/Soldier76.png);
}

.Sombra {
	/* background-position-x: -180px; */
	background-image: url(../../../assets/portraits/Sombra.png);
}

.Symmetra {
	/* background-position-x: -30px;
    background-size: 923px 2000px; */
	background-image: url(../../../assets/portraits/Symmetra.png);
}

.Torbjorn {
	background-image: url(../../../assets/portraits/Torbjorn.png);
}

.Widowmaker {
	background-image: url(../../../assets/portraits/Widowmaker.png);
}

.Ana {
	background-image: url(../../../assets/portraits/Ana.png);
}

.Baptiste {
	background-image: url(../../../assets/portraits/Baptiste.png);
}

.Brigitte {
	background-image: url(../../../assets/portraits/Brigitte.png);
}

.Lucio {
	background-image: url(../../../assets/portraits/Lucio.png);
}

.Zenyatta {
	background-image: url(../../../assets/portraits/Zenyatta.png);
}