:root {
    --background: white;
    --name-left-bar-color: lightgray;
    --name-background-color: gray;
}

body{
    background-color: purple;
}

.offscreen {
    transform: translateX(-100vw);
}

.offscreen:nth-child(1) {
    transition-delay: 0.0s !important;
}

.offscreen:nth-child(2) {
    transition-delay: 0.1s !important;
}

.offscreen:nth-child(3) {
    transition-delay: 0.2s !important;
}

.offscreen:nth-child(4) {
    transition-delay: 0.3s !important;
}

.offscreen:nth-child(5) {
    transition-delay: 0.4s !important;
}

.offscreen:nth-child(6) {
    transition-delay: 0.5s !important;
}

.playerDisplay:nth-child(6) {
    transition-delay: 0.0s;
    position: absolute;
    left: calc(((1920px / 6) * 6) - 370px) !important;
}

.playerDisplay:nth-child(5) {
    transition-delay: 0.1s;
    position: absolute;
    left: calc(((1920px / 6) * 5) - 350px) !important;
}

.playerDisplay:nth-child(4) {
    transition-delay: 0.2s;
    position: absolute;
    left: calc(((1920px / 6) * 4) - 330px) !important;
}

.playerDisplay:nth-child(3) {
    transition-delay: 0.3s;
    position: absolute;
    left: calc(((1920px / 6) * 3) - 310px) !important;
}

.playerDisplay:nth-child(2) {
    transition-delay: 0.4s;
    position: absolute;
    left: calc(((1920px / 6) * 2) - 290px) !important;
}

.playerDisplay:nth-child(1) {
    transition-delay: 0.5s;
    position: absolute;
    left: calc(((1920px / 6) * 1) - 270px) !important;
}

.vertical {
    transform: translateY(25%);
}

.rosterParent {
    background: transparent;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    justify-content: center;
    position: absolute;
    top: 400px;
    left: 0px;
}

.roleParent { 
    background: transparent;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    justify-content: center;
    position: absolute;
    top: 760px;
    left: 0px;
}

.roleParent > .tankIcon {
    position: absolute;
    left: 325px !important;
}
.roleParent > .dpsIcon {
    position: absolute;
    left: 925px !important;
}
.roleParent > .supportIcon {
    position: absolute;
    left: 1525px !important;
}

.colorOverlay {
    z-index: 1;
    min-height: 100%;
    min-width: inherit;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
    /*can be anything, of course*/
}

.logo {
    padding-top: 50px;
    transition: transform 2s;
    z-index: 10;
    margin-bottom: 10px;
    max-height: 300px;
    min-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.teamName {
    color: black;
    font-family: "BigNoodleTooOblique", Arial, sans-serif;
    font-size: 1.75rem;
    align-self: center;
}

.playerDisplay {
    transition: transform 2s;
    width: 300px;
    height: 348px;
    display: inline-block;
    position: absolute;
    top: 0px;
}

.playerIcon {
    width: 300px;
    height: 300px;
    display: block;
}

.rosterName {
    height: 48px;
    width: 252px;
    content: " ";
    position: absolute;
    left: 48px;
    top: 305px;
    color: black;
    padding-top: 12px;
    font-family: "BigNoodleTooOblique", Arial, sans-serif;
    font-size: 40px;
}

.rosterName::before{
    background-image: url(../../assets/reveal/name_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    position: absolute;
    left: -48px;
    top: -5px;
    width: 300px;
    height: 48px;
    z-index: -1;
}


/* Icons */

.roleIcon {
    display: block;
    min-width: 50px;
    min-height: 50px;
    max-width: 100%;
    max-height: 50px;
    background-size: 50px 50px;
    margin-bottom: 8px;
    position: relative;
    top: 55px;
}

.Tank {
    background-image: url(../../assets/icons/Tank.png);
    background-repeat: no-repeat;
    background-position: center;
}

.DPS {
    background-image: url(../../assets/icons/DPS.png);
    background-repeat: no-repeat;
    background-position: center;
}

.Support {
    background-image: url(../../assets/icons/Support.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* 
.Tank {
    background-image: url(../../assets/icons/Tank.png);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px green solid;
}

.DPS {
    background-image: url(../../assets/icons/DPS.png);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px red solid;
}

.Support {
    background-image: url(../../assets/icons/Support.png);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px yellow solid;
}

.Flex {
    background-image: url(../../assets/icons/Flex.png);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px purple solid;
} */